/*!
 * 
 *       MCM Version:1.0.0
 *       Publish time: Fri Apr 22 2022 20:01:31 GMT+0800 (中国标准时间),
 *       file:main.css
 *
 */

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #fff;
    color: #333;
    font-size: 12px;
    margin-top: 5px;
    font-family: "SimSun", "宋体", "Arial Narrow";
}

ul,
ol {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #009;
}

a:visited {
    color: #800080;
}

a:hover,
a:active,
a:focus {
    color: #c00;
    text-decoration: underline;
}

.xq9CGLsFUGE5kP2n2pvU {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#17181a 0%, #16162e 53%, #151440 100%);
    font-family: SourceSerifPro-Semibold;
    overflow-x: hidden;
}

.fbljQmHjcC3eYUKCyV7Q {
    color: white;
}

.v45npYsrJbBdLmU3jMiB {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    color: #fff;
    overflow: hidden;
    background-attachment:fixed;
}

.v45npYsrJbBdLmU3jMiB ._DANwi_xTnVsivvfhDPj {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0;
}

.v45npYsrJbBdLmU3jMiB ._v45npYsrJbBdLmU3oooo {
    box-sizing: border-box;
    width: 100%;
    margin-top:15px;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    white-space: pre-wrap;
}

.v45npYsrJbBdLmU3jMiB ._DANwi_xTnVsivvfhDPj img {
    width: 20%;
    height: 20%;
}

.v45npYsrJbBdLmU3jMiB ._DANwi_xTnVsivvfhDPj .TVzWmI2W1G8xCiEfc6mI {
    width: 96px;
    height: 36px;
    background-color: #2c2b2b;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    cursor: pointer;
    user-select: none;
}

.v45npYsrJbBdLmU3jMiB ._DANwi_xTnVsivvfhDPj .NRn9uB0igZ8ne0pv_1gS {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    background-color: #2c2b2b;
    border-radius: 10px;
    font-family: SourceSerifPro-Semibold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 16px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.v45npYsrJbBdLmU3jMiB ._DANwi_xTnVsivvfhDPj .NRn9uB0igZ8ne0pv_1gS img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.v45npYsrJbBdLmU3jMiB .t294ZUhg_0hRn9mtU19t {
    box-sizing: border-box;
    width: 100%;
    margin: 53px auto 0;
    padding: 0 24px;
    font-family: SourceSerifPro-Semibold;
    font-size: 48px;
    color: #fff;
    letter-spacing: 0;
    text-align: left;
    line-height: 48px;
    font-weight: 600;
}

.v45npYsrJbBdLmU3jMiB .RYDCA6WBAkXD2jwk6dtv {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    margin: 28px auto 0;
    padding: 0 24px;
    font-family: SourceSerifPro-Regular;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    text-align: justify;
    line-height: 22px;
    font-weight: 400;
}

.v45npYsrJbBdLmU3jMiB .RYDCA6WBAkXD2jwkoooo {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    margin-top: 15px;
    padding: 0 24px;
    font-family: SourceSerifPro-Regular;
    font-size: 16px;
    color: #2c2b2b;
    letter-spacing: 0;
    text-align: justify;
    line-height: 22px;
    font-weight: 400;
    white-space:pre-wrap;
}

.v45npYsrJbBdLmU3jMiB .JTue22887oEVVfWrLDQN {
    display: block;
    width: 85%;
    margin: 53px auto 0;
}

.v45npYsrJbBdLmU3jMiB .iZQetDkSQ5sH5W5VFZnF {
    margin-top: 43px;
    margin-left: 24px;
    font-family: SourceSerifPro-Semibold;
    font-size: 48px;
    color: #fff;
    letter-spacing: 0;
    text-align: left;
    line-height: 48px;
    font-weight: 600;
}

.v45npYsrJbBdLmU3jMiB .uHzDxluX4bb1piLRCGrY {
    box-sizing: border-box;
    padding: 36px 32px 0;
    margin: 44px 24px 178px;
    background-color: #2c2b2b;
    border-radius: 8px;
    padding-bottom: 32px;
}

.v45npYsrJbBdLmU3jMiB .uHzDxluX4bb1piLRCGrY .v45npYsrJbBdLmU3oooo {
    box-sizing: border-box;
    width: 100%;
    margin-top:15px;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    white-space: pre-wrap;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:36px;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 64px;
    border-radius: 12px;
    overflow: hidden;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .dCJo_WyToo4sZ7PXpIzt {
    margin-left: 16px;
    font-family: SourceSerifPro-Regular;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF>span {
    margin-left: 16px;
    font-family: SourceSerifPro-Regular;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .NZRYXYDud8xBHEGDjLQY {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: rgb(93 98 113 / 90%);
    border-radius: 12px;
    overflow: hidden;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .rjgzoHzlnU0FdQt_vVUk {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto 0;
    background-color: #565c6a;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .rjgzoHzlnU0FdQt_vVUk>img {
    width: 24px;
    margin-right: 8px;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .rjgzoHzlnU0FdQt_vVUk>span {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 600;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .rjgzoHzlnU0FdQt_vVUk .MSEUWOntsOEx9Fo6fyqJ {
    animation: pWAsYyUHnAA1DLDo98J2 3s linear infinite;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .hPH89K4sSfblQ_H168zn {
    box-sizing: border-box;
    width: 80%;
    height: 64px;
    background-color: rgb(93 98 113 / 90%);
    outline: 0;
    border: none;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-weight: 600;
    padding-left: 24px;
}

.v45npYsrJbBdLmU3jMiB .GRqAWvFjS3avEBeB4EoF .vfmHJs8tDwDaNe7VPzlA {
    width: 15%;
    height: 36px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    border: 1px solid rgb(255 255 255);
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.v45npYsrJbBdLmU3jMiB .IYt64OxyxUtBiXzDSKeI {
    margin-top: 16px;
    font-family: SourceSerifPro-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 14px;
    font-weight: 400;
}

.v45npYsrJbBdLmU3jMiB .IYt64OxyxUtBiXzDSKeI span {
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 20px;
    font-weight: 400;
}

.v45npYsrJbBdLmU3jMiB .feStD6Ho04fSj9esQ7_f {
    width: 100%;
    height: 0;
    margin-top: 37px;
    border-top: 1px solid #0F121C;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 36px;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI>div:first-child {
    width: 100%;
    height: 64px;
    background-color: #0F121C;
    border-radius: 12px;
    overflow: hidden;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI input {
    display: block;
    box-sizing: border-box;
    background-color: #565c6a;
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    outline: none;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    padding-left: 24px;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI .vl3_IDwcIytGTMUqEQl5 {
    width: 100%;
    height: 56px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #fff;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI .vl3_IDwcIytGTMUqEQl5>img {
    width: 24px;
    margin-right: 8px;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI .vl3_IDwcIytGTMUqEQl5>span {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 600;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI .Hw6liAYdSNJlp4SC9e5E {
    width: 100%;
    height: 56px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #565c6a;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI .Hw6liAYdSNJlp4SC9e5E>img {
    width: 24px;
    margin-right: 8px;
}

.v45npYsrJbBdLmU3jMiB .KIUuy5oN_k5PzgeCfeWI .Hw6liAYdSNJlp4SC9e5E>span {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #565c6a;
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 600;
}

.qY14HVtBLZBGSEW4nr99 {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.IziQIqyv5_CZXWAzQ6cG {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 332px;
    margin: auto;
    background: rgb(110 189 75 / 90%);
    border-radius: 8px;
}

.IziQIqyv5_CZXWAzQ6cG .RlYPoCkkhEGKldLlR5wM {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    border-bottom: 1px solid #0F121C;
}

.IziQIqyv5_CZXWAzQ6cG .KxEQ2O0zlgNn1rnzlQQ2 {
    box-sizing: border-box;
    display: block;
    margin: 44px 24px 0;
    padding: 20px 18px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.24);
    outline: none;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.IziQIqyv5_CZXWAzQ6cG .KxEQ2O0zlgNn1rnzlQQ2 input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: SourceSerifPro-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

.IziQIqyv5_CZXWAzQ6cG .vigyU7KGKAGlxB_A7q_e {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 56px;
    background: #2c2b2b;
    border-radius: 12px;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-weight: 600;
    margin: 36px auto 0;
    cursor: pointer;
    user-select: none;
}

.IziQIqyv5_CZXWAzQ6cG .vigyU7KGKAGlxB_A7q_e img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.GyFWm13fEvDsFwzVGxtQ {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 332px;
    margin: auto;
    background: #2c2b2b;
    border-radius: 8px;
}

.GyFWm13fEvDsFwzVGxtQ .xkotpPyChwWmwbOoD0nw {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    border-bottom: 1px solid #0F121C;
}

.GyFWm13fEvDsFwzVGxtQ .ElGPOWpDLgi8C2KB4uPw {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    margin: 44px 24px 0;
    padding: 20px 0;
    overflow: hidden;
    text-align: center;
}

.GyFWm13fEvDsFwzVGxtQ .ElGPOWpDLgi8C2KB4uPw span {
    font-family: SourceSerifPro-Semibold;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 600;
}

.GyFWm13fEvDsFwzVGxtQ .ElGPOWpDLgi8C2KB4uPw .di014ROH2JdBCFe9LCaF {
    margin-left: 8px;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.GyFWm13fEvDsFwzVGxtQ .t__7fQkKXNjiKWFngK3r {
    width: 84px;
    height: 56px;
    background: #2c2b2b;
    border-radius: 12px;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 56px;
    font-weight: 600;
    margin: 36px auto 0;
    cursor: pointer;
    user-select: none;
}

.GyFWm13fEvDsFwzVGxtQ .dLGNtpa8MuojTlOJ7mpV {
    width: 84px;
    height: 56px;
    background: #C24343;
    border-radius: 12px;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 56px;
    font-weight: 600;
    margin: 36px auto 0;
    cursor: pointer;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@keyframes pWAsYyUHnAA1DLDo98J2 {
    to {
        transform: rotate(1turn);
    }
}

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #fff;
    color: #333;
    font-size: 12px;
    margin-top: 5px;
    font-family: "SimSun", "宋体", "Arial Narrow";
}

ul,
ol {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:link {
    color: #009;
}

a:visited {
    color: #800080;
}

a:hover,
a:active,
a:focus {
    color: #c00;
    text-decoration: underline;
}

.LyqHF4dOPHijwh53g_3q {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#17181a 0%, #16162e 53%, #151440 100%);
    font-family: SourceSerifPro-Semibold;
    overflow-x: hidden;
}

.UxvK5dqDfUZITSISAKWM {
    color: white;
}

.tQ045ithwL7eu8e9AnZI {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding-left: 84px;
    padding-right: 83px;
    color: #fff;
}

.tQ045ithwL7eu8e9AnZI .crmkhGGC5UaDsQ736_3R {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.tQ045ithwL7eu8e9AnZI .rvdgWvjzoF9I0RcWnEbJ {
    width: 1200px;
    margin: auto;
}

.tQ045ithwL7eu8e9AnZI .xq9kjLh_Ns67Y9I_oPkP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin: auto;
    width: 1200px;
}

.tQ045ithwL7eu8e9AnZI .xq9kjLh_Ns67Y9I_oPkP img {
    width: 130px;
    height: 33px;
}

.tQ045ithwL7eu8e9AnZI .xq9kjLh_Ns67Y9I_oPkP .JXfJmYcDEk44mndkeLxn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tQ045ithwL7eu8e9AnZI .xq9kjLh_Ns67Y9I_oPkP .JXfJmYcDEk44mndkeLxn>div {
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

.tQ045ithwL7eu8e9AnZI .xq9kjLh_Ns67Y9I_oPkP .JXfJmYcDEk44mndkeLxn>div:hover {
    background: #2c2b2b;
}

.tQ045ithwL7eu8e9AnZI .WrVZWoPCBZR7Y43vWPnp {
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tQ045ithwL7eu8e9AnZI .XKqdY_gWe69uR60kP_Xv {
    margin-top: 233px;
    font-family: SourceSerifPro-Semibold;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 48px;
    font-weight: 600;
}

.tQ045ithwL7eu8e9AnZI .TYmZlvYpJchsKYIyUove {
    width: 545px;
    margin-top: 29px;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #2c2b2b;
    letter-spacing: 0;
    text-align: left;
    line-height: 40px;
    font-weight: 400;
}

.tQ045ithwL7eu8e9AnZI .NzpacVzkqG9a20oMgyBK {
    width: 154px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    border-radius: 12px;
    background-color: #2c2b2b;
    margin-top: 40px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.tQ045ithwL7eu8e9AnZI .VWhLMx1j5Df27txAp7Op {
    position: absolute;
    width: 1200px;
    top: 0;
    text-align: right;
}

.tQ045ithwL7eu8e9AnZI .VWhLMx1j5Df27txAp7Op .XPYw0iDfMw4juyRHf_qV {
    width: 100%;
}

.tQ045ithwL7eu8e9AnZI .VWhLMx1j5Df27txAp7Op .K9If6XOjZjqF5SOaWl9s {
    width: 234px;
    margin-top: 100px;
}

.IYr6kUGmCvrMnWGxeISF {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    color: #fff;
    overflow: hidden;
    background-attachment:fixed;
}

.IYr6kUGmCvrMnWGxeISF .lH7tfOZMHV_jMXdXF6pW {
    box-sizing: border-box;
    width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding-bottom: 118px;
    color: #fff;
}

.IYr6kUGmCvrMnWGxeISF .xq9kjLh_Ns67Y9I_oPkP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.IYr6kUGmCvrMnWGxeISF .xq9kjLh_Ns67Y9I_oPkP img {
    width: 20%;
    height: 20%;
}

.IYr6kUGmCvrMnWGxeISF .xq9kjLh_Ns67Y9I_oPkP .v1D57VNzV4ptW6fb21Cw {
    width: 96px;
    height: 36px;
    background-color: #2c2b2b;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    cursor: pointer;
    user-select: none;
}

.IYr6kUGmCvrMnWGxeISF .xq9kjLh_Ns67Y9I_oPkP .MXfllO7mKA0pG3ELgIS9 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: #2c2b2b;
    border-radius: 10px;
    font-family: SourceSerifPro-Semibold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 16px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.IYr6kUGmCvrMnWGxeISF .xq9kjLh_Ns67Y9I_oPkP .MXfllO7mKA0pG3ELgIS9 img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.IYr6kUGmCvrMnWGxeISF .XKqdY_gWe69uR60kP_Xv {
    margin-top: 200px;
    font-family: SourceSerifPro-Semibold;
    font-size: 40px;
    color: #fff;
    letter-spacing: 0;
    text-align: left;
    line-height: 48px;
    font-weight: 600;
}

.IYr6kUGmCvrMnWGxeISF .TYmZlvYpJchsKYIyUove {
    width: 545px;
    margin-top: 29px;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color:#fff;
    letter-spacing: 0;
    text-align: left;
    line-height: 40px;
    font-weight: 400;
}

.IYr6kUGmCvrMnWGxeISF .TYmZlvYpJchsKYIyOOOO {
    width: 545px;
    margin-top: 15px;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 40px;
    font-weight: 400;
    white-space: pre-wrap;
}

.IYr6kUGmCvrMnWGxeISF .m2_PSUwY8y2zhqw9Yntr {
    width: 100%;
    margin-top: 53px;
}

.IYr6kUGmCvrMnWGxeISF .MnDqUc3yZ_HxjxW2NBFL {
    margin-top: 100px;
    font-family: SourceSerifPro-Semibold;
    font-size: 48px;
    color: #fff;
    letter-spacing: 0;
    text-align: left;
    line-height: 48px;
    font-weight: 600;
}

.IYr6kUGmCvrMnWGxeISF .yMCnV0RyzvdiN7gpDBO8 {
    box-sizing: border-box;
    width: 843px;
    height: 380px;
    padding: 36px 32px 0;
    margin-top: 44px;
    background-color: #2c2b2b;
    border-radius: 8px;
    padding-bottom: 32px;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 36px;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW>div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 482px;
    height: 64px;
    background-color: rgb(93 98 113 / 90%);
    border-radius: 12px;
    overflow: hidden;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW>span {
    margin-left: 16px;
    font-family: SourceSerifPro-Regular;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW .eKFc6JzcNxXSc8dG3GyD {
    width: 156px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: rgb(93 98 113 / 80%);
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW .eKFc6JzcNxXSc8dG3GyD>img {
    width: 24px;
    margin-right: 8px;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW .eKFc6JzcNxXSc8dG3GyD>span {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 600;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW .eKFc6JzcNxXSc8dG3GyD .doL5FpASw2cIRpBJ2LAq {
    animation: FaQd2QpjN2ER848xjl8D 3s linear infinite;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW .He8DoBGebv8cJ1kPhcK2 {
    box-sizing: border-box;
    width: 402px;
    height: 64px;
    background-color: #565c6a;
    outline: 0;
    border: none;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-weight: 600;
    padding-left: 24px;
}

.IYr6kUGmCvrMnWGxeISF .usBMt22i6_XeIp4gpCeW .CEg6r8cQtysm5kcTlBgQ {
    width: 64px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    border: 1px solid rgb(244 247 242 / 80%);
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.IYr6kUGmCvrMnWGxeISF .qbalY5bdQTjsrf3JljKC {
    margin-top: 16px;
    font-family: SourceSerifPro-Regular;
    font-size: 14px;
    color: rgb(255 255 255);
    letter-spacing: 0;
    text-align: left;
    line-height: 14px;
    font-weight: 400;
}

.IYr6kUGmCvrMnWGxeISF .qbalY5bdQTjsrf3JljKC span {
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    line-height: 20px;
    font-weight: 400;
}

.IYr6kUGmCvrMnWGxeISF .D7417p69aB21_ukUcyaM {
    width: 100%;
    height: 0;
    margin-top: 37px;
    border-top: 1px solid #0F121C;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 36px;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds>div:first-child {
    width: 607px;
    height: 64px;
    background-color: #0F121C;
    border-radius: 12px;
    overflow: hidden;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds input {
    box-sizing: border-box;
    background-color: rgb(93 98 113 / 90%);
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    outline: none;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    padding-left: 24px;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds .dnZSC0h0jf3b9TLlixnA {
    width: 156px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #fff;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds .dnZSC0h0jf3b9TLlixnA>img {
    width: 24px;
    margin-right: 8px;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds .dnZSC0h0jf3b9TLlixnA>span {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 600;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds .mEknWfMXL1JzsyYxiNlv {
    width: 156px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #565c6a;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds .mEknWfMXL1JzsyYxiNlv>img {
    width: 24px;
    margin-right: 8px;
}

.IYr6kUGmCvrMnWGxeISF .Phj0yKujO2YHCBZVbgds .mEknWfMXL1JzsyYxiNlv>span {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #565c6a;
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 600;
}

.Q2vnq2xJkbQ6z7xXAzNG {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.HB58xkdY807oDu8Jez6T {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 848px;
    height: 332px;
    margin: auto;
    background: rgb(110 189 75 / 90%);
    border-radius: 8px;
}

.HB58xkdY807oDu8Jez6T .WIt2Jncj1HkdJvCILN38 {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    border-bottom: 1px solid #0F121C;
}

.HB58xkdY807oDu8Jez6T input {
    box-sizing: border-box;
    display: block;
    width: 784px;
    height: 80px;
    margin: 44px auto 0;
    padding: 0 24.5px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.24);
    outline: none;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.HB58xkdY807oDu8Jez6T ._v5Zg_OQ6pl4ZWYHJTe3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 56px;
    background: #2c2b2b;
    border-radius: 12px;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    line-height: 24px;
    font-weight: 600;
    margin: 36px auto 0;
    cursor: pointer;
    user-select: none;
}

.HB58xkdY807oDu8Jez6T ._v5Zg_OQ6pl4ZWYHJTe3 img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.WleKLsz27TvJSmOtXCpB {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 424px;
    height: 332px;
    margin: auto;
    background: #2c2b2b;
    border-radius: 8px;
}

.WleKLsz27TvJSmOtXCpB .taZuU1FqORKpXcPc0FFP {
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    border-bottom: 1px solid #0F121C;
}

.WleKLsz27TvJSmOtXCpB .NzZ_5aso5dpOLkgoLgSV {
    box-sizing: border-box;
    width: 352px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    margin: 44px auto 0;
    padding: 20px 0;
    overflow: hidden;
    text-align: center;
}

.WleKLsz27TvJSmOtXCpB .NzZ_5aso5dpOLkgoLgSV span {
    font-family: SourceSerifPro-Semibold;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 600;
}

.WleKLsz27TvJSmOtXCpB .NzZ_5aso5dpOLkgoLgSV .scGyaArkh_O6VWAOuLMO {
    margin-left: 8px;
    font-family: SourceSerifPro-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.WleKLsz27TvJSmOtXCpB .rfL4xK4omCj2wMCWnRPS {
    width: 84px;
    height: 56px;
    background: #2c2b2b;
    border-radius: 12px;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 56px;
    font-weight: 600;
    margin: 36px auto 0;
    cursor: pointer;
    user-select: none;
}

.WleKLsz27TvJSmOtXCpB ._rg2c8fC5YmiXr61p6Ql {
    width: 84px;
    height: 56px;
    background: #C24343;
    border-radius: 12px;
    font-family: SourceSerifPro-Semibold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 56px;
    font-weight: 600;
    margin: 36px auto 0;
    cursor: pointer;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@keyframes FaQd2QpjN2ER848xjl8D {
    to {
        transform: rotate(1turn);
    }
}

body {
    margin: 0;
}

/*# sourceMappingURL=main.css.map*/